@{
    ViewBag.Title = "About";
}
<h2>About this application</h2>
<h3></h3>

<p>This is a demonstration of several programming techniques, such as: <br />
        <ol type="1">
            <li>Database queries and custom object modeling using Entity Framework</li>
            <li>Webservice calls with HttpClient</li>
            <li>JQuery AJAX calls and PartialViews</li>
        </ol>
    <br />
    Please feel free to blantantly copy any code that you find useful of mine in this application, and use it for your own nefarious purposes.
</p>
