@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2><br />
<h4><strong>If you have any questions, contact me via the following:</strong></h4>
<br />
<address>
    Jeff Hardcastle<br />
    3278 Gladewater Ln<br />
    League City, TX 77573<br />
    <abbr title="Phone">P:</abbr>
    832.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jeffrey.hardcastle@gmail.com">jeffrey.hardcastle@gmail.com</a><br />
</address>