
@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

<div id="sheets-viewport" style="width: 1527px; height: 514px;">
    <div id="summary_table" style="position: relative;" class="partialContents" data-url="/dashboard/summaryPartial">
        <img src="~/Images/Loading.gif" />
    </div>
</div>
